@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.s1 {
    background-color: #0f0f0f;
     .box-con{
       height: 729px;
       background-image: url(./image/audio.png),url(./image/icon/Mask.png); 
       background-repeat: no-repeat;
       background-position-y: 22%;
       background-position-x: 412px;
       background-size:708.7999877929688px 886px;
       position: relative;
       @media screen and (max-width: 767px) {
         background-blend-mode:difference; 
         background-position-y: 0%;
         background-position-x: 187.8px;
         background-size:725.599976px 879px;
        }
        header{
            width: 1110.3333740234375px;
            max-width: 100%;
            padding: 32px 164.67px 36px 165px ;
            color:#FFFFFF;
            @media screen and (max-width: 767px) {
              padding: 32px 24px 32px 24px;
              
            }
            .icon-existing{
              display: none;
              @media screen and (max-width: 767px) {
                display: block;
              }
            }
            .link-icon{
              a{
                @media screen and (max-width:767px){
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin:0 150px 0 150px;
                }
              }
            }
            nav{
              justify-content: center;
              gap: 34px;
              padding: 0 318px 0 197px;
              font-family: Manrope;
              font-weight: 700;
              font-size: 13px;
              line-height: 25px;
              letter-spacing: 2px;
              text-transform: uppercase;
              @media screen  and (max-width : 767px){
                  padding: 0;              
              }
              #address-nav{
                color: #FFFFFF;
                text-decoration:none;
                &:hover{
                  color: #D87D4A;
                }
                @media screen  and (max-width : 767px){
                  display: none;                  
                }
              }
            }
            
          }
          hr{
            width: 1110px;
            max-width: 100%;
            color: #FFFFFF;
            opacity: 0.2;
            @media screen and (max-width:767px) {
              width: 100%;
            }
          }
         
        
           .text{
             width: 379px;
             height: 346px; 
             padding-top: 128px;
             flex-direction: column;
             color: #FFFFFF;
             @media screen and (max-width:767px) {
              justify-content: center;
              align-items: center;
              flex-direction: column;
              position:absolute ;
              left:373px;
              margin: 108px 24px 112px 23px;
              width: 328px;
              height: 290px;     
             }
                .t1{
                   padding-bottom:24px ;
                   font-family: Manrope;
                   font-weight: 400;
                   font-size: 14px;
                   line-height: 100%;
                   letter-spacing: 10px;
                   text-transform: uppercase;
                    opacity: 0.2;
                }
                .t2{
                    padding-bottom:24px ;
                    font-family: Manrope;
                    font-weight: 700;
                    font-size: 56px;
                    line-height: 58px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    @media screen and (max-width:767px) {
                      text-align: center;
                    } 
    
                }
                .t3{
                    padding-bottom:40px ;
                    font-family: Manrope;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 0px; 
                     @media screen and (max-width:767px) {
                      text-align: center;
                    }   
                }
                a{
                    width: 160px;
                    padding: 15px 0px 15px 31.5px ;
                    text-decoration: none;
                    color: rgba(255, 255, 255, 1);
                    background-color: rgba(216, 125, 74, 1);
                    font-family: Manrope;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 100%;
                    letter-spacing: 1px;
                    text-transform: uppercase; 
                       
                    &:hover{
                        background-color:  rgba(251, 175, 133, 1);
                    }
                    
                }
            }
            
     }
}
main{
   margin: 120px 0 168px 0;
   @media screen and (max-width:767px)   {
      margin: 92px 0 120px 0;
    }
   .animate__animated.animate__pulse {
      --animate-duration: 2s;
    }
    
   .container{
     gap:30px;
     padding-top: 80px;
     @media screen and (max-width:767px) {
       flex-wrap: wrap;
       padding: 90px 24px;
      }
       .box1{
           width: 350px;
           max-width: 100%;
           height: 100%;
           @media screen and (max-width:767px)   {
             width: 100%;
             padding-bottom: 68px;
           }
           .b1{
               width: 100%;
               height: 204px;
               background-color: rgba(241, 241, 241, 1);
               position: relative;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               border-radius: 8px;
               
               .ig1{
                   width: 122.9473648071289px;
                   height: 160px;
                   position:absolute ;
                   bottom: 124px;
                   left: 113.63px;
                   @media screen and (max-width:767px) {
                     left: 155px;
                   }
                  }
                  .ig2{
                    position: absolute;
                    bottom: 73px;
              }
              
                  .t1{
                   font-family: Manrope;
                   font-weight: 800;
                   font-size: 18px;
                   line-height: 100%;
                   letter-spacing: 1.29px;
                   text-transform: uppercase;
                   padding: 116px 116px 0 116px;
                }
                .t2{ 
                   font-family: Manrope;
                   font-weight: 700;
                   font-size: 13px;
                   line-height: 100%;
                   letter-spacing: 1px;
                   text-transform: uppercase;
                   padding: 15px 146.68px 30px 146px;
                  }
                
              
           }
           
       }
       .box2{
           width: 350px;
           max-width: 100%;
           height: 100%;
           @media screen and (max-width:767px)   {
             width: 100%;
             padding-bottom: 68px;
           }
           .b2{
               width: 100%;
               height: 204px;
               background-color: rgba(241, 241, 241, 1);
               position: relative;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               border-radius: 8px;
               .ig1{
                   width: 122.9473648071289px;
                height: 160px;
                position:absolute ;
                bottom: 124px;
                left: 113.63px;
                 @media screen and (max-width:767px) {
                     left: 155px;
                   }
            }
            
               .ig2{
                  position: absolute;
                bottom: 73px;
               }
               
               .t1{
                   font-family: Manrope;
                   font-weight: 800;
                   font-size: 18px;
                   line-height: 100%;
                   letter-spacing: 1.29px;
                   text-transform: uppercase;
                   padding: 116px 116px 0 116px;
                }
                .t2{ 
                    font-family: Manrope;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 100%;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                   padding: 15px 146.68px 30px 146px;
                  }
               
           }
           
       }
       .box3{
           width: 350px;
           max-width: 100%;
           height: 100%;
           @media screen and (max-width:767px)   {
             width: 100%;
           }
           .b3{
               width: 100%;
               height: 204px;
               background-color: rgba(241, 241, 241, 1);
                position: relative;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               border-radius: 8px;
               .ig1{
                width: 178px;
                height: 161px;
                position:absolute ;
                bottom: 124px;
                left: 88px;
                @media screen and (max-width:767px) {
                     left: 133px;
                   }
               }

               .ig2{
                   position: absolute;
                   top: 14px;  
                   left: 66.5px;
                   @media screen and (max-width:767px) {
                     left: 124px;
                   }
                    
               }
               
                  .t1{
                   font-family: Manrope;
                   font-weight: 800;
                   font-size: 18px;
                   line-height: 100%;
                   letter-spacing: 1.29px;
                   text-transform: uppercase;
                   text-align: center;
                   padding: 116px 116px 0 116px;
                  }
                  .t2{ 
                   font-family: Manrope;
                   font-weight: 700;
                   font-size: 13px;
                   line-height: 100%;
                   letter-spacing: 1px;
                   text-transform: uppercase;
                   
                   text-align: center;
                   padding: 15px 146.68px 30px 146px;
               }
           }
           
   
       }
       a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.50);
        &:hover{
          color:  rgba(216, 125, 74, 1);
        }
       }
   }
}
.s3{
       .son{
        width: 1110px;
        /* max-width: 100%; */
        border-radius: 8px;
        margin-bottom:48px ;
        background-color: #D87D4A;
        @media screen and (max-width:767px) {
          flex-wrap: wrap;
          width: 327px;
          height: 600px;
        }
        .circle{
            position: relative;
            color:rgba(255, 255, 255) ;
            opacity: 0.2;
            @media screen and (max-width: 767px) {
              display: none;
            }
             .c1{
                 position: absolute;
                 bottom: -280px;
                 
                }
             .c2{
                 position: absolute;
                 bottom: -280px;
                 left: 52px;
                }
             .c3{
                 position: absolute;
                 bottom: -280px;
                 left: 87px;
                } 
         }
         .circle-2{
          display: none;
          position: relative;
          
          @media screen and (max-width: 767px) {
              display:block;
              opacity: 0.2;
              .c1{
                width: 458px;
                    position: absolute;
                    top: -49px;
                    left: -229px;
                }
             .c2{
               position: absolute;
                    width: 320px;
                    height: 320px;
                    top: -52px;
                    left: -160px;
                }
             .c3{
               position: absolute;
               width: 279px;
               height: 279px;
               top: -36px;
               left: -138px;
                } 
            }
         }
         .d1{
            width: 410.23358154296875px;
            position: relative;
             img{
                 width: 410.23358154296875px;
                 position: absolute;
                 bottom:-293px;
                 left:117.49px;
                 clip-path:inset(0 0 5% 0);
                 @media screen and (max-width: 767px) {
                   width:172.2481689453125px;
                   position: absolute;
                   bottom:-94px;
                   left:77.48px;
                   clip-path:none;
                  }
             }
         }
         .d2{
            position: relative;
            width: 349px;
            margin: 133px 95px 124px 666px;
            @media screen and (max-width: 767px) {
              margin: 0;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;
              padding: 0;
              
            }
            h2{
               width: 261px;
               height: 116px;
               font-family: Manrope;
               font-weight: 700;
               font-size: clamp(36px, 2vw , 56px);
               line-height: 58px;
               letter-spacing: 2px;
               text-transform: uppercase;
               color: #FFFFFF;
               margin-bottom: 24px;
               @media screen and (max-width: 767px) {
                margin:0;
                
               }               
            } 
            p{
              width: 349px;
              height: 75px;
              font-family: Manrope;
              font-weight: 400;
              font-size: 15px;
              line-height: 25px;
              letter-spacing: 0px;
              color:rgba(255, 255, 255, 0.75);
              margin-bottom: 40px;
              @media screen and (max-width: 767px) {
                margin: 0;
                padding:24px 24px 100px 24px ;
              }
            }
            a{
              width: 160px;
              height: 48px;
              background-color: rgba(0, 0, 0, 1);
              text-decoration: none;
              font-family: Manrope;
              font-weight: 700;
              font-size: 13px;
              line-height: 100%;
              letter-spacing: 1px;
              text-transform: uppercase;
              color:rgba(255, 255, 255, 1);
              padding: 15px 29.5px 15px 31.5px;
              @media screen and (max-width: 767px) {
                width: 208px;
                padding-top: 18px;
                
              }
              &:hover{
                background-color: rgba(76, 76, 76, 1);
              }

            }

         }
        
       }
}
.s4{
   margin-bottom: 48px;
    .son1{
        width: 1110px;
        /* max-width: 100%; */
        border-radius: 8px;
        background-image: url(./image/s4.png);
        background-color: rgba(241, 241, 241, 1);
        background-blend-mode:luminosity;  
        background-position-y: 87%;
        background-position-x: -133.88px;
        background-repeat: no-repeat;
        background-size:1247.2386474609375px 863px;
        transform: rotateY(180deg);
        @media screen and (max-width:767px) {
          width: 327px;
          height: 320px;
          background-position-y: -47px;
          background-position-x: -175.48px;
          background-size:529.9563598632812px 367px;          
        }
        .son2{
            width: 204px;
            height: 118px;
            margin:  101px 95px 101px 811px;
            transform: rotateY(180deg);
            @media screen and (max-width:767px) {
              margin: 101px  24px 101px 99px;
              
            }
            h2{
                font-family: Manrope;
                font-weight: 700;
                font-size: 28px;
                line-height: 100%;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 1);
                padding-bottom: 32px;
            }
            a{
               width: 160px;
               height: 48px;
               padding:15px 29.5px 15px 31.5px;
               background-color: rgba(0, 0, 0, 0);
               font-family: Manrope;
               font-weight: 700;
               font-size: 13px;
               line-height: 100%;
               letter-spacing: 1px;
               text-transform: uppercase;
               color:rgba(0, 0, 0, 1);
               text-decoration: none;
               border: 1px solid rgba(0, 0, 0, 1);
               &:hover{
                 color:rgba(255, 255, 255, 1);
                 background-color: rgba(0, 0, 0, 1);
               }
            }
    
       }
      }
}
.s5{
  margin-bottom: 200px;  
  .s-2box{
      gap: 30px; 
      @media screen and (max-width:767px) {
        flex-wrap: wrap;
      }
      .son1{
        width: 540px;
        height: 320px;
        background-color: bisque;
        border-radius: 8px;
        background-image: url(./image/s5.png);
        background-color: rgba(241, 241, 241, 1);
         background-blend-mode:luminosity;  
         background-position:center;
         background-repeat: no-repeat;
         background-size:cover;
         @media screen and (max-width:767px) {
            width: 327px;
            height: 200px;
            
         }
      }
      .son2{
        width: 540px;
        height: 320px;
        background-color: rgba(241, 241, 241, 1);
        border-radius: 8px;
        @media screen and (max-width:767px) {
            width: 327px;
            height: 200px;
         }
        .div-text{
           width: 247px;
           height: 118px;
           margin: 101px 198px 101px 95px;
           @media screen and (max-width:767px) {
            margin:0;
           }
           p{
            width: 500px;
             font-family: Manrope;
             font-weight: 700;
             font-size: clamp(28px,2vw,28px);
             line-height: 100%;
             letter-spacing: 2px;
             text-transform: uppercase;
             color: rgba(0, 0, 0, 1);
             margin-bottom: 40px;
            @media screen and (max-width:767px) {
              margin: 0;
              padding: 41px 58px 40px 24px;
            }
           }
           a{
              text-decoration: none;
              background-color: rgba(0, 0, 0, 0);
              color:rgba(0, 0, 0, 1);
              padding: 15px 29.5px 15px 31.5px;
              border: 1px solid rgba(0, 0, 0, 1);
              font-family: Manrope;
              font-weight: 700;
              font-size: 13px;
              line-height: 100%;
              letter-spacing: 1px;
              text-transform: uppercase;
              
              @media screen and (max-width:767px) {
              
              margin-left: 25.5px;
            }
              &:hover{
                 color:rgba(255, 255, 255, 1);
                 background-color: rgba(0, 0, 0, 1);
               }
           }
        }
      }
  }  
}
.s6{
  margin-bottom: 200px;
 .boxes{
     gap: 125px;
      @media screen and (max-width:767px) {
        flex-wrap: wrap;
      }
     .son1{
       width: 445px;
       height: 295px;
       @media screen and (max-width:767px) {
        order: 2;
      }
       h2{
         font-family: Manrope;
         font-weight: 700;
         font-size: 40px;
         line-height: 44px;
         letter-spacing: 1.43px;
         text-transform: uppercase;
         padding-bottom: 32px;
         span{
           color:#D87D4A;
           font-family: Manrope;
           font-weight: 700;
           font-size: 40px;
           line-height: 44px;
           letter-spacing: 1.43px;
           text-transform: uppercase;
         }
       }
       p{
         width: 445px;
         height: 175px;
         opacity: 0.5;
         font-family: Manrope;
         font-weight: 400;
         font-size: 15px;
         line-height: 25px;
     
       }
     
     }
     .son2{
       width: 540px;
       height: 588px;
       @media screen and (max-width:767px) {
        order: 1;
      }
       .box{
          width: 100%;
          height:100%;
          border-radius: 8px;
          background-image: url(./image/s6.png);
           background-color: rgba(241, 241, 241, 1);
         background-blend-mode:luminosity;  
         background-position-y: 14%;
         background-position-x: 19%;
         background-repeat: no-repeat;
         background-size:1644px 1096px;
         

       }
     
     }
}
}
footer{
  width: 1440px;
  background-color: rgba(16, 16, 16, 1);
  .boxes{
    flex-direction: column;
    @media screen and (max-width: 767px) {
      flex-direction:unset;
      flex-wrap: wrap;
    }
    .header{
      padding-top:70px;
      gap: 538px;
      @media screen and (max-width: 767px) {
        padding: 0;
        gap: 0;
        flex-direction: column;
        
       }
        nav{
          gap:34px ;
          @media screen and (max-width: 767px) {
            /* width: 108px;
            height: 148px; */
            flex-direction: column;
          }
            a{
               color: #FFFFFF;
                text-decoration:none;
                text-align: center;
                @media screen and (max-width: 767px) {
                   /* width: 108px;
                   height: 148px; */
                }
                &:hover{
                    color: #D87D4A;
                } 
            }
        }  
      }
      .inbox{
        flex-direction: row;
        gap: 455px;
        @media screen and (max-width: 767px) {
        flex-direction:column;  
        padding: 0;
        gap: 0;
        flex-wrap: wrap;
       }
        .son1{
          flex-direction: column;
          gap:56px;
          @media screen and (max-width: 767px) {
            text-align: center;
          }
          .p1{
              width: 540px;
              height: 100px;
              opacity: 0.5;
              font-family: Manrope;
              font-weight: 400;
              font-size: 15px;
              line-height: 25px;
              letter-spacing: 0px;
               color:rgba(255, 255, 255, 1);
               padding:36px 0 56px 0;
               @media screen and (max-width: 767px) {
                 width: 327px;
                 height: 150px;
                 padding: 0;
                 text-align: center;
               }
              }
              .p2{
                  width: 540px;
                  height: 25px;
                  opacity: 0.5;
                  font-family: Manrope;
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 25px;
                  letter-spacing: 0px;
                   color:rgba(255, 255, 255, 1);
              }
        }
        .son2{
          display: flex;
          gap: 16px;
          a{
            width: 24px;
            height: 24px;
            text-decoration: none;
            color: rgba(255, 255, 255, 1);
            font-size:24px ;
            &:hover{
                  color: #D87D4A;
            }
          }
        }
    
      }
  }
}
